@tailwind base;
@tailwind components;
@tailwind utilities;

#donate{
    background-color: #5f96ba;
}
.donate:hover{
    background-color: #5f89ba;
}
.navContainer{
    background-color: #646a74;
    color: white;
    padding: 0%;
}
.ourWork:hover{
    color: #d2d3d4;
}
#mini-background{
    background-color: #646a74;
}